@page "/"

<PageTitle>Home</PageTitle>

<h1>IoT Dashboard Project</h1>

<p>
    This project is designed to collect sensor data (temperature, pressure, humidity), persist it in a time series database (InfluxDB), and display real-time updates on a Blazor dashboard.
</p>

<p>
    Click on Sensors tab below and watch the real-time <strong>"Sensors"</strong> data
</p>
